openai
langchain
langchain_openai
langchain_experimental
langchainhub
pinecone-client
python-dotenv
tiktoken
docx2txt
pypdf
requests
numpy
pandas
googlemaps
geopy
folium
pymongo
streamlit
streamlit-folium
streamlit_modal
uuid
langchain_google_genai